 
# Ignore Python bytecode and cache
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directory
.venv/

# Ignore IDE config files (for PyCharm or IntelliJ)
.idea/

# Ignore environment variables and credentials
.env
